.contacts-and-communication {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.contacts {
  width: 472px;
  margin-right: 55px;
}

.contacts-title {
  margin-left: 45px;
  font-size: 40px;
}
.contacts-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px;
  background-color: var(--text-color-white);
  border-radius: 12px;
}

.contacts-section {
  display: flex;
  flex-direction: row;
  padding: 30px;
  font-size: 16px;
  background-image: url(../img/line.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
}

.contacts-section-title{
  width: 150px;
  font-size: 22px;
  color: var(--text-color-gray);
}

.contacts-section-text {
  width: 240px;
  font-size: 16px;
  line-height: 1.5;
}

.contacts-address-build-route {
  display: inline-block;
  width: 215px;
  height: 70px;
  margin: 45px;
  padding: 20px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: var(--button-color-light);
  border: 1px;
  border-style: solid;
  border-color: var(--button-color-light);
  border-radius: 12px;
  background-color: var(--text-color-white);
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.contacts-address-build-route:hover {
  color:var(--text-color-white);
  background-color: var(--button-color-light);
  transform: scale(1.1);
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.contacts-address-build-route:active {
  border: 3px;
  background-color: #666666;
}

.contacts-address-build-route:focus {
  border-color: #666666;
}

.contacts-link {
  color: var(--button-color-light);
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.contacts-link:hover {
 color: blue;
 transition-duration: 200ms;
 transition-timing-function: linear;
}

.contacts-mail-text {
  color: #969696;
}

.communication {
  width: 645px;
  height: 605px;
  padding: 130px;
}

.communication-title {
  margin-bottom: 40px;
  padding-left: 25px;
  font-size: 40px;
}


.communication-form {
  display: flex;
  flex-direction: column;
}

.communication-form-section {
  margin-bottom: 25px;
  padding: 20px;
  border: 0px;
  border-radius: 12px;
  background-color: var(--text-color-white);
}

.communication-form-section:nth-child(1) {
  width: 347px;
  height: 68px;
}

.communication-form-section:nth-child(2) {
  width: 347px;
  height: 68px;
}

.communication-form-section:nth-child(3) {
  width: 347px;
  height: 110px;
}

.form-find-number {
  width: 347px;
  height: 70px;
  margin-right: 25px;
  font-size: 16px;
  color: var(--text-color-white);
  border-radius: 12px;
  border-width: 0ch;
  border-color: var(--button-color-dark);
  background-color: var(--button-color-dark);
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.form-find-number:hover {
  transform: scale(1.1);
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.form-find-number:active {
  border: 3px;
  background-color: #666666;
}

.form-find-number:focus {
  border-color: #666666;
}
