.information {
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 20px;
}

.information__title {
  margin-bottom: 25px;
  font-size: 40px;
}

.information__text {
  width: 890px;
  font-size: 16px;
  line-height: 25px;
  color: var(--text-color-gray);
}
